.container .button {
    border: none;
    background-color: var(--proj-color);
    color: white;
    cursor: pointer;    
    
}

.main-left .button.round-button {
    font-size: 21px;
    padding: .8em 1em;
    border-radius: 2em;
}
.main-right .button {    
    font-size: 15px;
    font-weight: bold;
    padding: 1em 3em;
    border-radius: 5px;
}
.main-right .button:hover {

    animation-name: buttonizer;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes buttonizer {
    0% {}
    100% {
        border-radius: 20px; 
    }
}
